{% extends "base.html" %}
{% set titulo = "Cadastro de Produto" %}
{% block conteudo %}
<form method="post" action="/post_cadastro">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" class="form-control">
    </div>
    <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" id="descricao" name="descricao" class="form-control">
    </div>
    <div class="form-group">
        <label for="estoque">Estoque</label>
        <input type="number" id="estoque" name="estoque" class="form-control">
    </div>
    <div class="form-group">
        <label for="preco">Preço</label>
        <input type="text" id="preco" name="preco" class="form-control">
    </div>
    <div class="form-group">
        <label for="categoria">Categoria</label>
        <select id="categoria" name="categoria" class="form-control">
            <option>Alimentos</option>
            <option>Limpeza</option>
            <option>Eletrônicos</option>
            <option>Brinquedos</option>
            <option>Vestuário</option>
            <option>Automotivo</option>
            <option>Esporte&Lazer</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{% endblock %}
